body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


button {
    cursor: pointer;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}



@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {

    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* header */

.hdr {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.str {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ula,
.padre {
    display: none;
}

.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.hd-logo {
    padding: 16px 0;
    display: block;
}

.stdio {
    color: #2e2f42;
    text-decoration: none;
}

.head-butt {
    padding: 0;
    border: none;
    background-color: transparent;
}

.head-icon {
    display: block;
    fill: #2F2F37;
}

@media screen and (min-width:768px) {
    .head-butt {
        display: none;
    }

    .ula {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .padre {
        font-style: normal;
        display: block;
    }

    .dvnv {
        display: flex;
        align-items: center;
    }

    .hd-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .stdio {
        color: #2e2f42;
        text-decoration: none;
    }


    .ula .nav-li {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        padding: 24px 0;
        display: block;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .ula .nav-li:hover,
    .ula .nav-li:focus {
        color: #404bbf;
    }


    .nav-li.studio {
        position: relative;
        color: #404bbf;
    }

    .nav-li.studio::after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        border-radius: 2px;
        background-color: #404bbf;
        left: 0;
        bottom: -1px;
    }

    .padrul {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .lki {
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .padre {
        font-style: normal;
        margin-left: auto;
    }

    .padre .nav-li {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
    }

    .padre .nav-li:hover {

        color: #404bbf;
    }

    .padre .nav-li:focus {

        color: #404bbf;
        font-style: normal;
    }
}

@media screen and (min-width:1158px) {
    .hd-logo {
        margin-right: 76px;
    }

    .padrul {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }


    .lki {
        padding: 24px, 0px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


/* mobile menu */

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-cntr {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.mob-menu-butt {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-butt:focus,
.mob-menu-butt:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mob-nav {
    margin-bottom: auto;
}

.mob-nav-ul {
    margin-left: 0;
    width: 151px;
    height: 200px;
    gap: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mob-li-a {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    justify-content: flex-start;
}

.mob-nav-ul .mob-li-a:hover,
.mob-nav-ul .mob-li-a:focus {
    color: #404bbf;
}

.mob-add-ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mob-add-a {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.mob-add-a:hover,
.mob-add-a:focus {
    color: #4d5ae5;
}

.mob-icons-ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0;
    margin-top: 48px;
}

.mob-icons-li {
    width: 40px;
    height: 40px;
}

.mob-icons-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sect-contr-a:hover,
.sect-contr-a:focus {
    background-color: #404BBF;
}


.mob-svg {
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
}


@media screen and (min-width:768px) {
    .mob-menu {
        display: none;
    }
}

.sectiontop {
    background: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        image-set(url(../images/hero-bg-mobile1.jpg)1x, url(../images/hero-bg-mobile2.jpg)2x);
    padding-top: 72px;
    padding-bottom: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.sectiontop-h {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
}

@media screen and (min-width:768px) {
    .sectiontop {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url(../images/hero-bg-tablet1.jpg)1x, url(../images/hero-bg-tablet2.jpg)2x);
    }

    .sectiontop-h {
        max-width: 496px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 36px;
        font-size: 56px;
    }


}

@media screen and (min-width:1158px) {
    .sectiontop {

        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url(../images/hero-bg-desktop1.jpg)1x, url(../images/hero-bg-desktop2.jpg)2x);
    }

    .sectiontop-h {
        margin-bottom: 48px;
    }
}



.sectiontop-butt {
    display: block;
    align-items: center;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 56px;
    border: none;
    min-width: 169px;
    background: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

}

button:hover,
button:focus {

    background: #404bbf;

}

/* section two */
.contr {
    padding-top: 96px;
    padding-bottom: 96px;
}

.secul {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin: 0 auto;
}

.icon-div {
    display: none;
}

.galava {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.pogolovi {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width:768px) {
    .secli {
        width: calc((100% - 72px) / 2);
    }

    .galava {
        text-align: left;
    }

    .secul {
        justify-content: flex-start;
    }
}

@media screen and (min-width:1158px) {
    .contr {
        display: flex;
        justify-content: space-between;
    }

    .contr {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .secul {
        gap: 24px;
    }

    .secli {
        width: calc((100% - 72px) / 4);
    }

    .icon-div {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }


    .zag-sect2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .galava {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

}


/* section team */
.sect {
    margin: 0 auto;
    padding-bottom: 96px;
    padding-top: 96px;

}

.team {
    background: #f4f4fd;
}

.golov {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.ulsec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.list {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    max-width: 264px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.cldv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.galava {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.sect-contr-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin-top: 8px;
}

.sect-contr-list {
    width: 40px;
    height: 40px;
}

.sect-contr-icon {

    align-items: center;
    justify-content: center;
    fill: #f4f4fd;

}

.sect-contr-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sect-contr-a:hover,
.sect-contr-a:focus {
    background-color: #404BBF;
}

@media screen and (min-width:768px) {

    .ulsec {

        gap: 64px 24px;
    }

    .list {
        width: calc((100% - 48px) / 2);
    }
}


@media screen and (min-width:1158px) {

    .ulsec {

        gap: 64px 24px;
    }

    .list {
        max-width: 1128px;
        width: calc((100% - 72px) / 4);
    }

}


/* Our Portfolio */

.clsc {
    padding-top: 96px;
    padding-bottom: 96px;
}

.glav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.clscli-div {
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
}



.minglav {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;
    margin-bottom: 8px;
}

.paraq {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF
}

.clscdv {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 100%;

}

.clscul {
    gap: 48px;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}

.clscli {
    overflow: hidden;
    width: 100%;
    box-shadow: rgba(46, 47, 66, 0.08) 0px 2px 1px 0px, rgba(46, 47, 66, 0.16) 0px 1px 1px 0px, rgba(46, 47, 66, 0.08) 0px 1px 6px 0px;
}

@media screen and (min-width: 768px) {
    .clscul {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .clscli {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .clsc {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .clscul {
        row-gap: 48px;
    }

    .clscli {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .clscli:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .clscli-div-p {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background: #4d5ae5;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .clscli:hover .overlay {
        transform: translateX(0);
    }

    .clscli:hover,
    .clscli:focus {
        box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

}

/* our portfolio end */

/* footer */
.foot {
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.foot-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}


.fot-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 116px;
}

.spn {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.par {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
    margin: 0 auto;

}

.foot-icon {
    width: 208px;
    height: 80px;
    gap: 16px;
}

.foot-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 96px;

}


.foot-ul {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 16px;
    margin-top: 16px;
}

.foot-list {
    width: 40px;
    height: 40px;
}

.foot-svg {

    align-items: center;
    justify-content: center;
    fill: #f4f4fd;

}

.foot-list-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-div-sub-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75px;
}

.foot-e-mail {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;

}

.foot-e-mail::placeholder {
    color: #ffffff;
}

.foot-button {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    cursor: pointer;
    border: none;
    line-height: 1.5;
    margin: 0 auto;
}

.svg-foot {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .foot-cont {
        justify-content: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        margin: 0 auto;
    }

    .foot {
        padding-left: 108px;
    }

    .foot-p,
    .fot-logo,
    .foot-div-sub-p {
        margin-left: 0;
    }

    .foot-div-sub-form {
        display: flex;
        gap: 24px;
    }

}

@media screen and (min-width: 1158px) {

    .foot-cont {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
    }

    .foot-list-a:hover,
    .foot-list-a:focus {
        background-color: #31D0AA;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .foot {
        padding-left: 0;
    }

    .foot-div-div {
        margin-right: 120px;
    }

    .foot-icon {
        margin-right: 80px;
    }

    .foot-e-mail {
        width: 264px;
    }

    .fot-logo,
    .foot-p,
    .foot-div-sub-p {
        margin-left: 0;
        margin-right: 0;
    }
}

/* end footer */

/* modal-overlay */

.modal-div-window.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal-div-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;

    transition-property: background-color;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-div-div-window {

    flex-direction: column;
    padding: 72px 16px 24px 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover {
    border: none;
    fill: #ffffff;
}

.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}


.modal-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit;
}

textarea {
    resize: none;
}

.ovar-form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    min-height: 336px;
}

.modal-input-us-name {
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 40px;
    margin-top: 4px;
    outline: transparent;
    position: relative;
    padding-left: 38px;
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-div {
    margin-bottom: 8px;
}

.modal-form-div-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
}

.modal-form-div-div {
    position: relative;
}

.modal-form-div-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.modal-form-comment {
    margin-bottom: 16px
}

.mod-form-com-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    height: 120px;
    margin-top: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-check {
    margin-bottom: 24px;
}


.modal-check-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.modal-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.modal-butt {
    display: block;
    margin: auto;
    border: none;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-check-input:checked+label .modal-label-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.us-privacy-a {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

@media screen and (min-width:768px) {

    .modal-div-div-window {
        width: 408px;
        height: 584px;
    }
}